html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  background-color: #141e30;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/* Layout*/
.grid-container {
  display: grid;
  grid-template-areas: 
   'header'
   'main'
   'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #58696e ;
  flex-direction: column;
  
}
main {
  grid-area: main;
  padding: 1rem;
}
h2 {
  font-size: 1.8rem;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #58696e;
  color: #ffffff;
}
/* Common */
a {
  text-decoration: none;
}
a:haver {
  color: #ff3333;
}
/*Header*/
header a{
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
a.sub {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
a.sub-f{
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
/* Image*/
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/* card*/
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 00.5rem;
  margin: 1rem;
}
.card.body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;

}
/* Rating*/
.rating span{
  color: #f0c040;
  margin: 0.1rem;
}
.form {
  font-size: 3rem;
  padding-left: 5rem;
  width: 100%;
  margin: auto;
}
